

@font-face{
    font-family: "Minecraftia";
    src: url("../assets/Minecraftia.ttf");
}



html, body{
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
    user-select: none;
    height: 100%;
    border-radius: 20px;
    font-family: "Minecraftia";
    font-size: 14px;
}
#base{
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
    user-select: none;
    height: 100%;
    --primaryColor: rgb(38, 70, 159);
}
body::-webkit-scrollbar{
    display: none;
}
::-webkit-scrollbar{
    width: 8px;
}
::-webkit-scrollbar-track{
    background: none;
}
::-webkit-scrollbar-thumb{
    background: rgb(94, 94, 94);
    border-radius: 20px;
}
::-webkit-scrollbar-thumb:hover{
    background: #555;
}
::-webkit-scrollbar-corner{
    background-color: transparent;
}

.menu{
    background: rgba(2, 2, 2, 0.199);
    -webkit-app-region: drag;
    height: 35px;
    width: 100%;
    overflow-x: hidden;
}
.menuitem{
    display: inline-block;
    height: inherit;
    margin: 0;
    -webkit-transition: background-image 0.1s ease-in-out;
    transition: background-image 0.1s ease-in-out;
}
.menuitem:hover {
    cursor: pointer;
}


#logo_title {
    background: -webkit-linear-gradient(rgb(153, 0, 255), rgb(212, 0, 255));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "abnes";
    font-size: 30px;
    filter: drop-shadow(2px 2px rgb(0, 0, 0));
    width: max(6.5em, 20%);
    text-align: center;
    line-height: 42px;
    vertical-align: top;
    margin-right: 3%;
    margin-left: 3%;
    overflow: visible;
    /* -webkit-app-region: no-drag; */
}

.tabsbuttons{
    background: transparent;
    background-size: cover;
    height: 35px;
    width: 35px;
    /* display: none; */
    border: none;
    outline: none;
    filter: drop-shadow(1px 1px rgb(0, 0, 0));
    -webkit-app-region: no-drag;
}
.tabsbuttons:hover{
    background-size: cover;
    height: 35px;
    width: 35px;
}

#info{
    background-image: url("../assets/info1.png");
}
#info:hover{
    background-image: url("../assets/info2.png");
}
#session{
    background-image: url("../assets/session1.png");
}
#session:hover{
    background-image: url("../assets/session2.png");
}

#settings{
    background-image: url("../assets/settings1.png");
}
#settings:hover{
    background-image: url("../assets/settings2.png");
}

#update{
    background-image: url("../assets/update1.png");
    background-size: cover;
    height: 32px;
    width: 32px;
    position: relative;
    top: -2.5px;
    /* display: none; */
    border: none;
    outline: none;
    filter: drop-shadow(1px 1px rgb(0, 0, 0));
    -webkit-app-region: no-drag;
}
#update:hover{
    background-image: url("../assets/update2.png");
    background-size: cover;
    height: 32px;
    width: 32px;
}
#quit{
    background: transparent;
    background-image: url("../assets/quit1.png");
    background-size: cover;
    float: right;
    height: 25px;
    width: 25px;
    margin: 5px;
    margin-left: 0;
    border: none;
    outline: none;
    filter: drop-shadow(1px 1px rgb(0, 0, 0));
    position: relative;
    z-index: 100;
    -webkit-app-region: no-drag;
}
#quit:hover{
    background-image: url("../assets/quit2.png");
    background-size: cover;
    height: 25px;
    width: 25px;
}
#minimize{
    background: transparent;
    background-image: url("../assets/min1.png");
    background-size: cover;
    float: right;
    height: 25px;
    width: 25px;
    margin: 5px;
    margin-right: 0;
    margin-left: 0;
    border: none;
    outline: none;
    filter: drop-shadow(1px 1px rgb(0, 0, 0));
    position: relative;
    z-index: 100;
    -webkit-app-region: no-drag;
}
#minimize:hover{
    background-image: url("../assets/min2.png");
    background-size: cover;
    height: 25px;
    width: 25px;
}
#show{
    background: transparent;
    background-image: url("../assets/show1.png");
    background-size: cover;
    float: right;
    /* display: none; */
    height: 25px;
    width: 25px;
    margin: 5px;
    margin-right: 0;
    border: none;
    outline: none;
    transform: rotate(0deg);
    filter: drop-shadow(1px 1px rgb(0, 0, 0));
    position: relative;
    z-index: 100;
    -webkit-app-region: no-drag;
    transition: transform 0.1s ease-in-out;
}
#show:hover{
    background-image: url("../assets/show2.png");
    background-size: cover;
    height: 25px;
    width: 25px;
}


.titleitems{
    color: var(--primaryColor);
    font-family: "Minecraftia";
    font-size: 18px;
    /* height: 28px;
    margin: 0; */
    padding: 0;
    text-align: left;
    line-height: block;
    filter: drop-shadow(2px 2px rgb(0, 0, 0));
    /* background: blue; */
}


[data-avatar="nickQuestionMark"]{
    background-image: url(../assets/questionmark.png);
    background-repeat: no-repeat;
    /* background-position: left;
    background-position-x: center; */
    background-size: 20px;
    padding-left: 20px;
    margin: 2px;
}

[data-avatar="notNick"]{
    background-repeat: no-repeat;
    /* background-position: left;
    background-position-x: center; */
    background-size: 20px;
    padding-right: 20px;
    margin: 2px;
}

/* Bad */
.t0Color{
    color: #AAAAAA;
}
/* Ok */
.t1Color{
    color: #FFFFFF;
}
/* Decent */
.t2Color{
    color: #FFAA00;
}
/* Good */
.t3Color{
    color: #00AAAA;
}
/* Great */
.t4Color{
    color: #AA0000;
}
/* Legend */
.t5Color{
    color: #AA00AA;
}
.starsDisplay{
    margin: 4px;
}

.wsMissing{
    color: #AA0000;
}







#modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.4rem;
    width: 60%;
    padding: 1.3rem;
    min-height: 250px;
    position: absolute;
    top: 20%;
    left: 20%;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 15px;
    z-index: 2;
  }
  
  #modal .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    z-index: 1;
  }

  .hidden {
    display: none !important;
  }

  
  .api_key__input {
    font-family: "Minecraftia";
    color: rgb(185, 185, 185);
    border: 2px solid #8f0000;
    background: rgba(82, 82, 82, 0.582);
    text-align: center;
}
.api_key__input:hover {
    /* text-shadow: none !important;
    color: white !important; */
    border: 2px solid #dc0000;
    cursor: copy;
}

.row{
    display: flex;
}

.modal-error{
    color: red;
}